doctype html
html(lang="en")
	head
		title Clock
		link(rel="stylesheet", href="styles/main.css")
	body
		div.clock-container
			div.clock-border
				div.center
				div#second
					svg#second-hand(width="500", height="500", viewPort="0 0 500 500")
						//-path#second-hand-path(d="M 250 250 L 250 0 L 275 1 z" fill="#3498db")
						line#second-hand-path(x1="250", x2="250", y1="25", y2="250", stroke="white", stroke-width="1")
				div#hour
					svg#hour-hand(width="500", height="500", viewPort="0 0 500 500")
						path(d="M 250 250 L 250 100" stroke="#ecf0f1", stroke-width="10px")
						circle(cx="250", cy="100", r="5", fill="#ecf0f1")
				div#minute
					svg#minute-hand(width="500", height="500", viewPort="0 0 500 500")
						path(d="M 250 250 L 250 50" stroke="#ecf0f1", stroke-width="5px")
						circle(cx="250", cy="50", r="2.5", fill="#ecf0f1")

		script(src="scripts/jquery-2.2.0.min.js")
		script(src="scripts/TweenMax.min.js")
		script(src="scripts/moment.min.js")
		script(src="scripts/main.js")
